:root {
  --color: green;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/public/fonts/NeueMachina-Regular.woff2") format("woff2"),
    url("/public/fonts/NeueMachina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Neue Machina;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
